.seller{
    background-color: transparent;
}
.sign-up, .login{
   text-align: center;
   margin-top: 80px;
   margin-bottom: 50px;
   color: blue;
}
.common-form input{
    color: blue;
    border-radius: 5px;
}