<div class="seller">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller Sign Up</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="SignUp(sellerSignUp.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="Name"
        placeholder="Name"
      />
      <input
        class="form-input"
        type="password"
        ngModel
        name="Password"
        placeholder="Password"
      />
      <input
        class="form-input"
        type="email"
        ngModel
        name="Email"
        placeholder="Email"
      />
      <button class="form-button">Sign-Up</button>
      <a class="Toggle-Link" (click)="OpenLogin()"
        >Already have an account? Click to Login</a
      >
    </form>
  </div>
  <!-- Seller-Login -->
  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error">{{ loginerorr }}</p>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="Login(sellerLogin.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="email"
        ngModel
        name="Email"
        placeholder="Email"
        #email="ngModel"
        required
        email
      />
        <p class="Invalid-Input"
            ><span *ngIf="email.invalid && email.touched"
            >Please Enter Valid Value</span
            ></p>
      <input
        class="form-input"
        type="password"
        ngModel
        name="Password"
        placeholder="Password"
        #password="ngModel"
        required
        minlength="3"
        maxlength="15"
      />
        <p class="Invalid-Input"
            ><span *ngIf="password.invalid && password.touched"
            >Please Enter Valid Value</span
            ></p>
      <button [disabled]="sellerLogin.invalid" class="form-button">Login</button>
      <a class="Toggle-Link" (click)="OpenSignUp()"
        >Dont have account? Click to Sign-Up</a
      >
    </form>
  </div>
</div>
