body{
    background: linear-gradient(to right, #ffffff, #e0f7fa);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    margin-right: 5%;
    margin-left: 5%;
}
.common-form{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    margin: auto;
    width: 300px;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blue;
}
.form-button{
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}   
h1 a{
    color: blue;
    text-decoration: none;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.p-message{
    color: green;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}
.cursor{
    cursor: pointer;
}
.Toggle-Link{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
   }
   .Invalid-Input{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
   }
   button:disabled{
    cursor: not-allowed;
   }
